/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#ressources {
    padding-top: 50px;
}

.navbar-nav > .active > a {
    text-color: #ffffff;
}

#DetailsPartial {
    margin-top: 5%;
}

#SiteFormPartialCard {
    margin-top: 5%;
}

h2 {
    margin-top: 5%;
    margin-bottom: 2%;
}

h4 {
    color: white;
}

.card-header {
    background-color: #11101D
}

footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    
    
   
    color: white;
}

body {
    background-image: url('../images/background_blurred.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#welcome {
    color: white;
}

#chartContainer {
    height: 85%;
    width: 85%;
    padding-left: 40px;
}