@model aweProject.Models.SiteManagement

@{
    ViewData["Title"] = "Baustelle löschen";
}

<h2>Löschen</h2>

<h3>Bist du sicher, dass du diese Baustelle löschen möchtest?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Beschreibung
        </dt>
        <dd>
            Beschreibung
        </dd>
        <dt>
            Baustellenleiter
        </dt>
        <dd>
            Baustellenleiter
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Löschen" class="btn btn-default" /> |
        <a asp-action="Index">Zurück zur Liste</a>
    </form>
</div>
