@model aweProject.Models.SiteManagement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Beschreibung
        </dt>
        <dd>
            Beschreibung
        </dd>
        <dt>
            Baustellenleiter
        </dt>
        <dd>
            Baustellenleiter
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Bearbeiten</a> |
    <a asp-action="Index">Zurück zur Liste</a>
</div>
