@model aweProject.Models.Ressources

<form id="row_@Model.Id">
    <div class="form-row border-bottom border-secondary align-items-start pt-1 pb-1 pl-0 pr-1">
        <div class="col-2 pl-0">
            <input type="text" asp-for="Name" class="form-control" />
            <small><span asp-validation-for="Name" class="text-danger"></span></small>
        </div>
        <div class="col-2 pl-0">
            <input type="text" list="types" name="type" asp-for="Type" class="form-control" />
            <datalist id="types">
                <option value="Werkzeug" />
                <option value="Fahrzeug" />
                <option value="Hilfsstoffe" />
                <option value="Schutzkleidung" />
                <option value="Zubehör" />
            </datalist>
            @*<input type="text" asp-for="Type" class="form-control" />*@
            <small><span asp-validation-for="Type" class="text-danger"></span></small>
        </div>
        <div class="col-2 pl-0">
            <input type="text" asp-for="BuyDate" class="form-control" />
            <small><span asp-validation-for="BuyDate" class="text-danger"></span></small>
        </div>
        <div class="col-2 pl-0">
            <input type="text" asp-for="NextMaintenance" class="form-control" />
            <small><span asp-validation-for="NextMaintenance" class="text-danger"></span></small>
        </div>
        <div class="col-2 pl-0">
            <input type="text" asp-for="Standort" class="form-control" />
            <small><span asp-validation-for="Standort" class="text-danger"></span></small>
        </div>
        <div class="col-2">
            <input type="hidden" asp-for="Id" />
            <button type="button" class="btn btn-primary" onclick="Update('@Model.Id')"><i class="fas fa-check fa-fw"></i></button>
            <button type="button" class="btn btn-warning" onclick="CancelEdit('@Model.Id')"><i class="fas fa-times fa-fw"></i></button>
        </div>
        @Html.AntiForgeryToken()
    </div>

    <script>
    $("#row_@Model.Id input[name='From']").datepicker({
        uiLibrary: 'bootstrap4',
        format: 'dd-mmm-yyyy'
    });

    $("#row_@Model.Id input[name='To']").datepicker({
        uiLibrary: 'bootstrap4',
        format: 'dd-mmm-yyyy'
    });
    </script>
</form>
