<div class="form-row border-secondary p-1" id="row_New">
    <div class="col-2 pl-0">
    </div>
    <div class="col-2 pl-0">
    </div>
    <div class="col-2 pl-0">
    </div>
    <div class="col-2 pl-0">
    </div>
    <div class="col-2 pl-0">
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-dark" onclick="Create()"><i class="fas fa-plus fa-fw"></i></button>
    </div>
</div>