@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<aweProject.Models.SiteManagement>

<h2 id="ressources">Welcome</h2>
<hr />

<div class="card border-dark">
    <div class="card-header pl-3 pb-0 pt-2">
        <h4>Baustelle verwalten</h4>
    </div>
    <div class="card-body">
        <select class="form-select" aria-label="Default select example">
            <option selected>Baustelle auswählen</option>
            @foreach (SiteManagement item in Model)
            {
                <option onclick="Create(@item.Id)" selected>@item.Name</option>

            }
        </select>
    </div>
    //<partial name="SiteFormPartial" />
</div>



<script>
    function Create(Id) {
        $.get("@Url.Action("GetCreate", "Home")", { id: Id })
            .done(function (data) {
                $("#new_Partial").replaceWith(data);
            })
            .fail(function (status) {
                alert("HTTP Error Code " + status.status);
            }
        );
    };
</script>