@using Microsoft.EntityFrameworkCore
@model SiteOrderRessources

@{
    ViewData["Title"] = "Auftragsverwaltung";
}

<partial name="OrderPartial" />

<form id="OrderCardForm">

</form>

<script>

    function Checkout(SiteId, RessourceId, OrderId) {
        $.get("@Url.Action("Checkout", "Orders")", { RessourceId: RessourceId, SiteId: SiteId, OrderId: OrderId })
            .done(function (data) {
                $("#OrderCard").replaceWith(data);
            })
            .fail(function(status) {
                    alert("HTTP Error Code " + status.status);
                }
            );
    };

</script>
