@using Microsoft.EntityFrameworkCore
@model SiteRetourenRessources

@{
    ViewData["Title"] = "Index";
}

<partial name="RetourenPartial" />

<form id="RetourenCardForm">
</form>

<script>

    function CheckIn(SiteId, RessourceId, RetourenId, OrderId) {
        $.get("@Url.Action("CheckIn", "Retourens")", { RessourceId: RessourceId, SiteId: SiteId, RetourenId: RetourenId, OrderId: OrderId })
            .done(function (data) {
                $("#RetourenCard").replaceWith(data);
            })
            .fail(function(status) {
                    alert("HTTP Error Code " + status.status);
                }
            );
    };

</script>