@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Zugriff verweigert";
}

<header>
    <br />
    <h1 class="text-danger">@ViewData["Title"]</h1><br />
    <p class="text-danger">Du hast keinen Zugriff auf diese Seite!<br />Kontaktiere den <a href="mailto:markus.admin@wuebau.com">Systemadministrator</a> für Hilfe.</p>
</header>
