@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrierung";
}

<style>
body { background-image: url("/images/register.jpg"); background-size: cover; }
</style>

<h2 style="text-align: center">@ViewData["Title"]</h2>
<div class="row justify-content-center">
    <div class="login-row">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="login-form">
            <h4>Neuen Account erstellen</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Passwort</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Passwort bestätigen</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-dark" onclick="window.location = '@Url.Action("Action_Name", "Controller_Name")'">Registrieren</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
