@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div id="RetourenCard">
    <div class="card border-dark" id="SiteFormPartialCard">
        <div class="card-header pl-3 pb-0 pt-2">
            <h4>@ViewData["Title"]</h4>
        </div>
        <div class="card-body">
            <p>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>


